
.navbar {
  padding: 20px;
  margin-bottom: 40px;

  .rentme-search {
    height: 50px;
    width: 300px;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: red;
    font-weight: 500;

    img {
      margin-top: 15px;
      height: 20px;
    }
  }

  .nav-item {
    font-size: 14px;
  }

  .btn-rentme-search {
    border-color: red;
    color: red;

    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: red !important;
      color: red !important;
      box-shadow: none;
    }
  }

  .btn-login {
    background-color: red;
    border-color: red;
    color: white;
}

.btn-logout {
    background-color: red;
    border-color: red;
    color: white;
}

.btn-register {
    background-color: green;
    border-color: green;
    color: white;
}

.dropdown-item {
  font-size: 14px;

  &:active, &:focus {
    background-color: red !important;
    color: white !important;
  }
}
}
