<section id="newRental">
  <div class="rentme-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Rental</h1>
        <form #rentalForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   #title="ngModel"
                   [(ngModel)]="newRental.title"
                   required>
          </div>
          <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            <div *ngIf="title?.errors.required">
              Title field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text"
                   class="form-control"
                   id="city"
                   name="city"
                   #city="ngModel"
                   [(ngModel)]="newRental.city"
                   required>
          </div>
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city?.errors.required">
              City field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="street">Street</label>
            <input type="text"
                   class="form-control"
                   id="street"
                   name="street"
                   #street="ngModel"
                   [(ngModel)]="newRental.street"
                   required>
          </div>
          <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert alert-danger">
            <div *ngIf="street?.errors.required">
              Street field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="category">Category</label>

            <select class="form-control"
                    id="category"
                    name="category"
                    #category="ngModel"
                    [(ngModel)]="newRental.category"
                    required>
              <option *ngFor="let category of rentalCategories"> {{category}} </option>
            </select>
          </div>
          <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
            <div *ngIf="category?.errors.required">
              Category field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input type="input"
                   name="image"
                   class="form-control"
                   id="image"
                   placeholder="Copy the image url here..."
                   name="image"
                   #image="ngModel"
                   [(ngModel)]="newRental.image"
                   required>
          </div>
          <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
            <div *ngIf="image?.errors.required">
              Image field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="bedrooms">Bedrooms</label>
            <input type="number"
                   class="form-control"
                   id="bedrooms"
                   name="bedrooms"
                   #bedrooms="ngModel"
                   [(ngModel)]="newRental.bedrooms"
                   required>
          </div>
          <div *ngIf="bedrooms.invalid && (bedrooms.dirty || bedrooms.touched)" class="alert alert-danger">
            <div *ngIf="bedrooms?.errors.required">
              Bedrooms field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5"
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      #description="ngModel"
                      [(ngModel)]="newRental.description"
                      required>
            </textarea>
          </div>
          <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description?.errors.required">
              Description field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Rate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="number"
                     name="dailyRate"
                     class="form-control"
                     id="dailyRate"
                     name="dailyRate"
                     #dailyRate="ngModel"
                     [(ngModel)]="newRental.dailyRate"
                     required>
            </div>
          </div>
          <div *ngIf="dailyRate.invalid && (dailyRate.dirty || dailyRate.touched)" class="alert alert-danger">
            <div *ngIf="dailyRate?.errors.required">
              Daily Rate field is required.
            </div>
          </div>

          <div class="form-group">
            <label for="shared">Shared</label>
            <input type="checkbox"
                   class="form-control"
                   id="shared"
                   name="shared"
                   [(ngModel)]="newRental.shared">
          </div>
          <button (click)="createRental()"
                  [disabled]="!rentalForm.form.valid" 
                  type="button" 
                  class="btn btn-rentme">
                    Submit
          </button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Here are hundreds of awesome places, make yours one of them!</h2>
          <img src="assets/images/create-rental.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
