/* You can add global styles to this file, and also import other style files */
html, body, p {
    color: #484848;
}

.apartment {
    color: #a72da3
}

.condo {
    color: #d68000
}

.house {
    color: #bf1818
}

.clickable {
    cursor: pointer;
}

.btn-rentme {
    background-color: red !important;
    border-color: red !important;
    color: white !important;
    padding: 15px 30px;
    font-size: 20px !important;

    &:hover, &:focus, &:active {
        border-color: red !important;
        background-color: red !important;
    }
}